# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# -----------------------------
# Dependencies
# -----------------------------
node_modules/

# -----------------------------
# Expo / React Native
# -----------------------------
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# -----------------------------
# Android
# -----------------------------
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/app/*.iml
android/captures/
*.apk
*.aar
*.keystore

# -----------------------------
# iOS
# -----------------------------
ios/Pods/
ios/build/
ios/DerivedData/
ios/.bundle/
ios/*.xcuserstate
ios/*.xcworkspace/xcshareddata/
ios/*.xcworkspace/xcuserdata/
*.xcuserstate

# Mantener archivos necesarios del proyecto
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcworkspace/contents.xcworkspacedata

# -----------------------------
# Debug / Logs
# -----------------------------
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Metro
# -----------------------------
.metro-health-check*

# -----------------------------
# Security / Credentials
# -----------------------------
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# -----------------------------
# Environment files
# -----------------------------
.env
.env*.local

# -----------------------------
# TypeScript
# -----------------------------
*.tsbuildinfo

# -----------------------------
# Project-specific
# -----------------------------
app-example
